#updater{
display: flex;
justify-content: space-between;
}
body{
    background-color: red;
    background: url(../assets/images/game.png);
}
canvas{
    display: block;
    margin:0px auto;
    /* width: 70% */
    /* height: 54vh; */
}
